# Final Project
## By: Rohan Ondkar, Naveen Harish, Melvin Gonsalves

# Part 1: Why are we collecting this data?
Early education is important for a number of reasons. First and foremost, young children are at a critical stage in their development, and early education can play a crucial role in shaping their future. By providing children with a strong foundation in key areas such as language, literacy, and mathematics, early education can help to prepare them for success in school and in life.

Another reason why early education is important is that it can help to narrow the achievement gap that often exists between children from different backgrounds. Children who receive high-quality early education are more likely to do well in school and go on to graduate from high school and attend college. This can help to break the cycle of poverty that affects many families and communities.

One major factor contributing to unequal education in the US is the unequal distribution of funding for schools. In many states, schools are funded primarily through property taxes, which means that schools in more affluent areas tend to have more funding than those in poorer areas. This leads to a situation where schools in wealthier neighborhoods are able to offer more advanced classes, extracurricular activities, and resources such as computers and modern facilities, while schools in poorer areas may struggle to provide even basic education.

This is exactly what we will be trying to to prove throughout this tutorial. Our focus is to confirm whether education inequality is reflected by national math and reading examination differences. One approach you could take is to collect data on national math and reading exam scores, and compare them across different demographic groups. This could include looking at factors such as race, income, and geographic location, to see if there are any significant differences in exam scores

Once we have collected and analyzed this data, we can then use it to confirm whether education inequality is reflected by national math and reading examination differences, and identify the factors that may be contributing to these differences. This information can then be used to inform efforts to address education inequality and improve early education for all students.

We will be using math and read as the subjects to look into because they are the most consistent and are taught at all school at an elementary level. It is common to use national math and reading exam scores as a way to measure educational achievement and inequality, because these subjects are considered fundamental to a student's overall educational experience. Math and reading skills are essential for success in many other academic subjects, as well as in daily life, and they are often included in standardized tests as a way to assess a student's overall academic performance. Additionally, math and reading exam scores can provide a more objective measure of educational achievement and inequality than other indicators, such as graduation rates or self-reported survey data. This can make them a useful tool for identifying and addressing disparities in educational opportunities and outcomes.

Our null hypothesis is that none of the factors mentioned above (race, gender, state, etc.) do not impact children at an elementary level. Our null hypothesis is that none of the factors mentioned above (race, gender, state, etc.) do impact children at an elementary level.

# Part 2: Data Management/Representation
First we have to import the necessary libraries that we need to load the dataset. We are using pandas, numpy, and matplotlib.pyplot.<br>
Pandas is used for the DataFrame object since that is an easy way to store tabular data. <br>
Numpy is used for its math functionality.<br>
Mathplotlib.pyplot is used to plot graphs demonstrating relationships between variables in our data.

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Getting the csv file and... idk fucking displaying it

In [49]:
school = pd.read_csv("education_states.csv")

# display first few rows
school

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,G08_HI_A_READING,G08_HI_A_MATHEMATICS,G08_AS_A_READING,G08_AS_A_MATHEMATICS,G08_AM_A_READING,G08_AM_A_MATHEMATICS,G08_HP_A_READING,G08_HP_A_MATHEMATICS,G08_TR_A_READING,G08_TR_A_MATHEMATICS
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,247.0,278.0,286.0,315.0,NaN,NaN,NaN,NaN,269.0,293.0
1711,2019_WASHINGTON,WASHINGTON,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,248.0,267.0,285.0,315.0,237.0,259.0,NaN,NaN,263.0,292.0
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249.0,NaN
1713,2019_WISCONSIN,WISCONSIN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,251.0,273.0,277.0,294.0,253.0,267.0,NaN,NaN,268.0,276.0
1714,2019_WYOMING,WYOMING,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,274.0,NaN,NaN,243.0,258.0,NaN,NaN,NaN,274.0

PRIMARY_KEY is not needed for this table. We have STATE and YEAR, so we do not need PRIMARY_KEY because it provides no new information

In [50]:
school = school.drop(columns=['PRIMARY_KEY'])

school

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,G08_HI_A_READING,G08_HI_A_MATHEMATICS,G08_AS_A_READING,G08_AS_A_MATHEMATICS,G08_AM_A_READING,G08_AM_A_MATHEMATICS,G08_HP_A_READING,G08_HP_A_MATHEMATICS,G08_TR_A_READING,G08_TR_A_MATHEMATICS
0,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,247.0,278.0,286.0,315.0,NaN,NaN,NaN,NaN,269.0,293.0
1711,WASHINGTON,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,248.0,267.0,285.0,315.0,237.0,259.0,NaN,NaN,263.0,292.0
1712,WEST_VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249.0,NaN
1713,WISCONSIN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,251.0,273.0,277.0,294.0,253.0,267.0,NaN,NaN,268.0,276.0
1714,WYOMING,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,274.0,NaN,NaN,243.0,258.0,NaN,NaN,NaN,274.0

We are going to use data after 2009 because anything before this does not date DEMOGRAPHICS into account... and thats kinda what we want to do

In [51]:
#setup for 2009. Getting the previous and current length setup
prev = len(school.index)
school = school[school['YEAR'] >= 2009]
curr = len(school.index)

# Part 3: Data Analysis

G04_A_A_READING stands for reading averages from all races from grade 3 (2009-2019) <br>
G04_A_A_MATHEMATICS stands for math averages from all races from grade 3 (2009-2019)

In [54]:
#finding the average read writing scores for each 
avg_score = school[['STATE', 'YEAR', 'G04_A_A_READING', 'G04_A_A_MATHEMATICS']]

avg_score

              STATE  YEAR  G04_A_A_READING  G04_A_A_MATHEMATICS
867         ALABAMA  2009            216.0                228.0
868          ALASKA  2009            211.0                237.0
869         ARIZONA  2009            210.0                230.0
870        ARKANSAS  2009            216.0                238.0
871      CALIFORNIA  2009            210.0                232.0
...             ...   ...              ...                  ...
1710       VIRGINIA  2019            224.0                247.0
1711     WASHINGTON  2019            220.0                240.0
1712  WEST_VIRGINIA  2019            213.0                231.0
1713      WISCONSIN  2019            220.0                242.0
1714        WYOMING  2019            227.0                246.0

[522 rows x 4 columns]

Our formula for getting the growth of reading and math score, we subtracted the 2009 average score from each data point (2010-2019) <br>
This is our score change, which we will use for both math (MATH_CHANGE) and reading (READING_CHANGE)

### MATH_CHANGE

In [55]:
#MATH CHANGE

#set MATH_CHANGE = NaN
avg_score['MATH_CHANGE'] = np.NaN

#function to find and return average math for 2009
def find_math_scores_2009(row):
    state_row = row['STATE']
    new = avg_score.loc[avg_score['STATE'] == state_row]
    new = new.loc[new['YEAR'] == 2009]
    return new['G04_A_A_MATHEMATICS']

# Subtract the 2009 average score from each data point (2010-2019)
for i, row in avg_score.iterrows():
    avg_score.at[i, 'MATH_CHANGE'] = row['G04_A_A_MATHEMATICS'] - find_math_scores_2009(row)

avg_score

/tmp/ipykernel_867/3214621666.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  avg_score['MATH_CHANGE'] = np.NaN

              STATE  YEAR  G04_A_A_READING  G04_A_A_MATHEMATICS  MATH_CHANGE
867         ALABAMA  2009            216.0                228.0          0.0
868          ALASKA  2009            211.0                237.0          0.0
869         ARIZONA  2009            210.0                230.0          0.0
870        ARKANSAS  2009            216.0                238.0          0.0
871      CALIFORNIA  2009            210.0                232.0          0.0
...             ...   ...              ...                  ...          ...
1710       VIRGINIA  2019            224.0                247.0          4.0
1711     WASHINGTON  2019            220.0                240.0         -2.0
1712  WEST_VIRGINIA  2019            213.0                231.0         -2.0
1713      WISCONSIN  2019            220.0                242.0         -2.0
1714        WYOMING  2019            227.0                246.0          4.0

[522 rows x 5 columns]

### READING_CHANGE

In [ ]:
#MATH CHANGE

#set MATH_CHANGE = NaN
avg_score['READING_CHANGE'] = np.NaN

#function to find and return average math for 2009
def find_math_scores_2009(row):
    state_row = row['STATE']
    new = avg_score.loc[avg_score['STATE'] == state_row]
    new = new.loc[new['YEAR'] == 2009]
    return new['G04_A_A_READING']

# Subtract the 2009 average score from each data point (2010-2019)
for i, row in avg_score.iterrows():
    avg_score.at[i, 'MATH_CHANGE'] = row['G04_A_A_MATHEMATICS'] - find_math_scores_2009(row)

avg_score